<!DOCTYPE html>

<html>
<head>
    <title>Calender</title>
</head>

<body>

<form action="/create" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">

    <br></br>

    <label for="start">Start:</label>
    <input type="datetime-local" id="start" name="start">

    <br></br>

    <label for="end">End:</label>
    <input type="datetime-local" id="end" name="end">

    <br></br>

    <label for="time_before">Notify me this many minutes before:</label>
    <input type="number" id="time_before" name="time_before" min="0">

    <br></br>
    
    <button type="submit">Create event</button>
</form>

<h1>Current Events</h1>

<ul>
{% for event in events %}
    <li>{{ event[0] }}</li>
{% endfor %}
</ul>

<script>
function checkAlerts() {

    fetch("/alerts")
        .then(response => response.json())
        .then(data => {
            if (data.alerts.length > 0) {
                Notification.requestPermission().then(permission => {
                    console.log("Notification permission:", permission);
                    if (permission === "granted") {
                        const notification = new Notification("Calendar Alert", {
                        body: data.alerts[0][0]
                        }); 
                    }
                });
            }
        });
}

checkAlerts();

setInterval(checkAlerts, 10000);
</script>
</body>
</html>